<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div id="container">
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: #2f4f4f"
    >
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"> <h1 class="text-white"> SUMAG</h1> </a> -->
        <a href="#" title="Retour à l'accueil">
          <img
            src="assets/icones/p.png"
            style="height: 60px"
            alt="Logo SUMAG"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <span class="navbar-text" style="position: relative; top: 8px">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link text-white underline-linkk"
                  href="#"
                  routerLink="/map"
                  ><span class="fa fa-map"></span> Cartographie des mangroves</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white underline-linkk"
                  href="#"
                  routerLink="/documentation"
                  ><span class="fa fa-file"></span> Documentation</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white underline-linkk"
                  ><span class="fa fa-users"></span> Communauté</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link text-white underline-linkk" href="/admin"
                  ><span class="fa fa-lock"></span> Mon Compte</a
                >
              </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>
    <div class="bg-image">
      <div class="container-fluid" style="height: 10%">
        <div class="row desciption">
          <h2 class="text-center">A Propos du SUMAG</h2>
          <br /><br /><br />
          <p class="" style="font-size: 21px">
            La plateforme de Suivi des Mangroves du Gabon (SUMAG) est une
            initiative de l'Observatoire du Climat du Gabon (SCO Gabon). Elle a
            pour objectif de mobiliser les outils d'observation de la terre pour
            contribuer à caractériser en continu l'état, la dynamique et le
            fonctionnement de cet écosystème. En étant accessible aux décideurs
            et à divers utilisateurs publiques, la SUMAG vise à soutenir la
            gestion, la préservation et la valorisation des mangroves via la
            mise en évidence des facteurs de leur dynamique.
          </p>
        </div>
      </div>
    </div>

    <div id="body">
      <!-- <section class="container-fluid desciption d-none d-lg-block d-sm-block" style="background-color: #ffffff;"> -->
      <section
        class="container-fluid desciption d-none d-lg-block d-sm-block"
        style="background-color: #ffffff; padding-top: 0"
      >
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <h2 class="mb-3 display-5 text-center">Nos partenaires</h2>
          </div>
        </div>

        <div class="container overflow-hidden">
          <div class="row gy-1 moi">
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img
                  src="assets/partenaires/autres/SGP.png"
                  class="img-fluid"
                  alt="SGP"
                  style="position: relative; top: 40px; width: 100%"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img
                  src="assets/partenaires/autres/GEF_LOGO.jpg"
                  class="img-fluid"
                  alt="GEF"
                  style="position: relative; top: 20px; width: 36%"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="https://www.undp.org/fr/gabon"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/pnud_logo_cle8bfe11-5-326e8.png"
                  class="img-fluid"
                  alt="PNUD"
                  style="position: relative; top: 30px; width: 90%"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="https://www.undp.org/fr/gabon"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/autres/DGEPN.png"
                  class="img-fluid"
                  alt="DGEPN"
                  style="position: relative; top: 5px; width: 90%"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="https://www.ageos.ga"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/ageoss.jpg"
                  class="img-fluid"
                  alt="AGEOS"
                  style="position: relative; top: 60px; width: 100%"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="https://www.eaux-forets.gouv.ga"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/ef.jpg"
                  class="img-fluid"
                  alt="Eaux et forêts"
                  style="width: 55%; height: 70%; position: relative; top: 50px"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="https://univuob.org/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/uob.webp"
                  class="img-fluid"
                  alt="UOB"
                  style="width: 70%; height: 85%; top: 30px; position: relative"
                />
              </a>
            </div>

            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="https://www.parcsgabon.ga"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/Parcs-Gabon-1.png"
                  class="img-fluid"
                  alt="Parcs"
                  style="width: 85%; height: 85%; top: 30px; position: relative"
                />
              </a>
            </div>

            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="https://www.cnc.ga"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/CNC.png"
                  class="img-fluid"
                  alt="CNC"
                  style="width: 70%; height: 70%; top: 30px; position: relative"
                />
              </a>
            </div>

            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="https://univ-masuku.org/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/ustm.png"
                  class="img-fluid"
                  alt="HCECV"
                  style="width: 70%; height: 70%; top: 30px; position: relative"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="http://www.libreville.ga/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/mairie-lbv.png"
                  class="img-fluid"
                  alt="Mairie de Libreville"
                  style="width: 70%; height: 70%; top: 30px; position: relative"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="http://www.libreville.ga/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/autres/DGEA.jpg"
                  class="img-fluid"
                  alt="DGEA"
                  style="width: 70%; height: 80%; top: 30px; position: relative"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="http://www.libreville.ga/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/autres/INSAB.jpg"
                  class="img-fluid"
                  alt="INSAB"
                  style="width: 70%; height: 100%; top: 30px"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="http://www.libreville.ga/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/autres/LAGRAC.png"
                  class="img-fluid"
                  alt="INSAB"
                  style="width: 80%; height: 100%; top: 30px"
                />
              </a>
            </div>
            <div class="col-6 col-md-4 col-xl-3 text-center">
              <a
                href="http://www.libreville.ga/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="assets/partenaires/autres/logo-cndio.jpg"
                  class="img-fluid"
                  alt="INSAB"
                  style="width: 70%; height: 100%; top: 30px"
                />
              </a>
            </div>
          </div>
        </div>
      </section>
      <br /><br />
    </div>
    <br /><br />
    <app-footer></app-footer>
  </div>
</div>
