<footer class="text-center py-2 border-top" style="background-color: #2F4F4F; border-top: 2px solid #ffffff;z-index: 1;">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Contact -->
            <div class="col-md-3 col-6">
                <h5>Contact</h5>
                <!-- <p>+241 (0) 11 74 17 16<br>+241 (0) 11 74 17 40</p> -->
                <p style="margin: 0px;"><a href="tel:+241 (0) 11 74 17 16" style="color: white;">+241 (0) 11 74 17 16</a></p>
                <p><a href="tel:+241 (0) 11 74 17 40" style="color: white;">+241 (0) 11 74 17 40</a></p>
            </div>

            <!-- Adresse -->
            <div class="col-md-3 col-6">
                <h5>Adresse</h5>
                <p> Zone Economique Spéciale de NKOK, Libreville, 3850, Parcelle R27 – pk27</p>
                <!-- <p style="font-weight: bold;"> Zone Economique Spéciale de NKOK, Libreville, 3850, Parcelle R27 – pk27</p> -->
            </div>

            <!-- Email -->
            <div class="col-md-3 col-6 ">
                <h5>E-mail</h5>
                <!-- <p>ageosinfos&#64;ageos.ga</p> -->
                <p><a href="mailto:ageosinfos&#64;ageos.ga" style="color: white;">ageosinfos&#64;ageos.ga</a></p>
            </div>
        </div>
    </div><hr style="margin-top: 1px;">

    
    <div class="" style="background-color: #2F4F4F;  font-weight: bolder;">
        © {{parametre.Copyrith}} Copyright:
        <a style=" color: white;" href="https://ageos.ga/" target="_blank">AGEOS</a>
    </div>
</footer>


